# -------------------------
# ENVIRONMENTS
# -------------------------
.env
.env.*
env/
venv/
ENV/

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# -------------------------
# DJANGO
# -------------------------
db.sqlite3
staticfiles/
media/

# -------------------------
# LOGS
# -------------------------
*.log

# -------------------------
# COVERAGE / TESTING
# -------------------------
.coverage
htmlcov/
.pytest_cache/

# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/
